{% extends 'layout.html' %} {% block content %}
<div class="container">
    <h1>Sobre esto</h1>
    <iframe src="https://giphy.com/embed/eH9sawQbajAQM" width="480" height="120"
        frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p>
        Poco que decir, solo que esto es una web hecha con python y flask.
        Es un ejercicio que se ha extraído del <a
            href="https://github.com/Asabeneh/30-Days-Of-Python"> repositorio
            github de 30DaysOfPython</a>.
    </p>
</div>
{% endblock %}