{% extends 'base/principal.html' %}
{% block content %}

<div class="barra_superior">
    <h1>Registro</h1>
</div>

<div class="cuerpo-tarjeta">
    
    <form method="post" action="">
        {% csrf_token %}

        <label>{{form.username.label}} </label>
        {{form.username}}

        <label>{{form.password1.label}} </label>
        {{form.password1}}

        <label>{{form.password2.label}} </label>
        {{form.password2}}

        <input style="margin-top: 12px;" class="boton" type="submit" value="Registrar">

    </form>

    <p>Ya tienes cuenta? <a href="{% url 'login' %}">Login</a></p>

</div>

{% endblock content %}
